.App {
  padding: 20px;
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
  color: white;
}


.App-header {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  
  
}

.h1{
  color: orange;
}

/* .fa-film{
  color: white;
  transform: rotate(30deg);

} */

.squre{
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(137, 212, 214);

}

.layout{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 20px;
}

.red{
  color: red;
  cursor: pointer;

}

.logout{
  cursor: pointer;
}
.other{
  cursor: pointer;
  size: 5;

}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card {
  background-color: white;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 5px;
  padding: 25px 25px 15px 25px;
  transition: 0.3s;
  color: black;
}


/* .card:hover {
  box-shadow: 5px 1px 20px 1px #ddd;
  transform: scale(0.96);
} */

h1 {  
  text-decoration: underline;  
  font-size:30px;  
  
  }


